# Ignorar diretórios de dependências
/node_modules/

# Ignorar arquivos de build do Next.js
/.next/
/out/

# Ignorar arquivos de cache
/.cache/

# Ignorar arquivos específicos de configuração de IDE
/.idea/
/.vscode/
/*.iml

# Ignorar arquivos de log e temporários
*.log
*.tmp
*.bak

# Ignorar arquivos de configuração local
/.env.local
/.env.development.local
/.env.test.local

# Ignorar arquivos de testes
/tests/

# Ignorar o diretório git
/.git/
.gitignore

# Ignorar arquivos de backup
*~
